.center{
  text-align: center;
  margin: auto;
}

.main{
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  max-width: 800px;
  background-color: #FFFFFF;
  padding-top: 20px;
}

.main .files{
  margin-top: 10px;
  width: 100%;
  height: 80vh;
  background-color: #FFFFFF;
  box-shadow: var(--box-shadow1);
  border-radius: 10px;
}
.main .files header{
  height: 40px;
  padding: 0 20px;
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
}
.main .files header .back{
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
  margin-top: -5px;
  cursor: pointer;
}
.main .files header .path{
  font-size: 1.2em;
  cursor: pointer;
}
.main .files header .path:hover .pathName,.main .files header .back:hover{
  color: var(--green1);
}

.main .files header .white{
  color: var(--font-dark-remark);
  font-size: 0.8rem;
  text-align: end;
  margin-right: 10px;
  flex: 1;
}

.main .files header .search{
  display: flex;
  align-items: center;
}
.main .files header .search i{
  margin-left: 5px;
  color: var(--tint-gray);
  z-index: 99;
  position: absolute;
}
.main .files header .search input{
  padding-left: 1.7rem;
}

.main .files .file{
  display: flex;
  flex-wrap: wrap;
}
.main .files .file .item{
  margin-bottom: 10px;
  width: 25%;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}
.main .files .file .item:hover{
  background-color: rgba(90,216,166,0.2);
}
.main .files .file .item div,.main .files .file .item a{
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}
.main .files .file .item i{
  font-size: 2.5rem;
}
/* 图标设置颜色 */
.iconfont{
  color: var(--gray);
}
.icon-dir{
  color: #f6bd16;
}
.icon-yasuobao{
  color: #6dc8ec;
}

.load{
  z-index: 999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}
.load .loading{
  top: 40%;
  width: 100px;
	height: 50px;
	/* transform-origin: bottom center; */
	animation: rotate 3s linear infinite;
}

.load .loading .circle{
	background-color: purple;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transform: scale(0);
	animation: grow 1.5s linear infinite;
	margin: -10px;
}

.load .loading .circle:nth-child(2){
	background-color: palevioletred;
	animation-delay: 0.75s;
}

@keyframes rotate{
	to{
		transform: rotate(360deg);
	}
}

@keyframes grow{
	50%{
		transform: scale(1);
	}
}
