 :root{
  --font-dark1 : #262626;
  --font-dark2 : #333333;
  --font-dark3 : #404040;
  --font-dark-common : #2c3e50;
  --font-dark-remark : #909399;
  --border1 : #666666;
  --border2 : 1px solid #b6a7a7;
  --border3 : 1px solid #d9d9d9;
  --box-shadow1 : 1px 1px 8px #d9d9d9,0 0 7px #d9d9d9;
  --box-shadow2 : 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  --green1 : #5ad8a6;
  --green2 : #3eaf7c; 
  --origin : #ff9845;
  --hover-speed : .4s ease-out;
  --transition-speed : 1s ease-out;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 1rem;
  font-family: Ubuntu,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  line-height: 1.4;
  color: var(--font-dark-common);
  position: relative;
}
h1{
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
}
h2{
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2px;
}
h3{
 font-size: 1.3rem; 
 font-weight: 500;
 letter-spacing: 1px;
}
input{
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  vertical-align: middle;
  border: var(--border3);
}
input::-webkit-input-placeholder{
  color: var(--font-dark-remark);
  font-size: 0.9em;
}
input:focus{
  border-color: var(--green1);
  box-shadow: 0 0 2px var(--green1);
}

.active{
  color: var(--green2);
  border-color: var(--green1);
}