/* markdown转化html后样式 */
.md blockquote{
  margin: 10px 0;
  background-color: #F4F4F4;
  padding: 5px 10px;
  border-left: 8px solid var(--green1);
  overflow: auto;
  white-space: nowrap;
}
.md img{
  display: block;
  margin: 10px auto;
}
.md pre{
  font-family: monospace;
  padding: 5px 0;
}
.md a{
  color: var(--green2);
  text-decoration: underline;
}
.md hr{
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: var(--border1);
}
.md h1,.md h2,.md h3,.md h4{
  font-weight: 500;
  letter-spacing: 2px;
  margin: 10px 0;
}
.md h1{
  font-size: 2em;
}
.md h2{
  font-size: 1.6rem;
}
.md h3{
 font-size: 1.3rem; 
 letter-spacing: 1px;
}
.md ol,.md li{
  padding: 5px 10px;
  margin: 0 5px;
}
.md strong{
  font-weight: bold;
}
